<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Default Email Template</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
        padding: 20px;
      }
      .container {
        max-width: 600px;
        margin: 0 auto;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      }
      h2 {
        font-size: 24px;
        color: #333333;
        margin-bottom: 20px;
      }
      p {
        color: #666666;
        line-height: 1.5;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h5>Novo email recebido por Mailman</h5>
      <p><strong>Nome:</strong> {{name}}</p>
      <p><strong>Email:</strong> {{email}}</p>
      <p><strong>Mensagem:</strong></p>
      <p>{{message}}</p>
    </div>
  </body>
</html>
